*{
    margin: 0;
    padding: 0;
}
#container{
    background-color:#4D992B;
    width: 1024px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    width: 1024px;
    height: 200px;
    background-color:#AD0A31;
}
#enc{
    position: relative;
    left: 5px;
    top: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(71, 165, 42);
}
#nav{
    width: 1024px;
    height: 100px;
    background-color: aqua;
}
#menu{
    position: relative;
    left: 420px;
    top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: brown;
}
#main{
    width: 1024px;
    height: 600px;
    background-color: cadetblue;
}
#cuerpo{
    position: relative;
    left: 1px;
    top: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: rgb(2, 0, 90);
}
.titulo{
    text-align: center;
}
#footer{
    width: 1024px;
    height: 200px;
    background-color: rgb(255, 255, 255);
}
#pie{
    position: relative;
    left: 20px;
    top: 20px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
#img{
    position: relative;
    left: 815px;
    top: 1px;
    width: 200px;
    height: 70px;
}